In [1]:
import os

In [2]:
%pwd

'd:\\Inventory-Management-and-Predictive-Analytics-with-IOT\\research'

In [3]:
os.chdir("../")

In [4]:
%pwd

'd:\\Inventory-Management-and-Predictive-Analytics-with-IOT'

In [5]:
import pandas as pd

In [6]:
file1_path = 'artifacts/data_ingestion/data/sales.csv'
df_sales = pd.read_csv(file1_path)
df_sales.drop(columns=["Unnamed: 0","transaction_id"], inplace=True, errors='ignore')
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7829 entries, 0 to 7828
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      7829 non-null   object
 1   product_id     7829 non-null   object
 2   category       7829 non-null   object
 3   customer_type  7829 non-null   object
 4   unit_price     7829 non-null   float64
 5   quantity       7829 non-null   int64
 6   total          7829 non-null   float64
 7   payment_type   7829 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 489.4+ KB

In [7]:
file2_path = 'artifacts/data_ingestion/data/sensor_stock_levels.csv'
df_sensor_stock_levels = pd.read_csv(file2_path)
df_sensor_stock_levels.drop(columns=["Unnamed: 0","id"], inplace=True, errors='ignore')
df_sensor_stock_levels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   timestamp            15000 non-null  object
 1   product_id           15000 non-null  object
 2   estimated_stock_pct  15000 non-null  float64
dtypes: float64(1), object(2)
memory usage: 351.7+ KB

In [8]:
file3_path = 'artifacts/data_ingestion/data/sensor_storage_temperature.csv'
df_sensor_storage_temperature = pd.read_csv(file3_path)
df_sensor_storage_temperature.drop(columns=["Unnamed: 0","id"], inplace=True, errors='ignore')
df_sensor_storage_temperature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23890 entries, 0 to 23889
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   timestamp    23890 non-null  object
 1   temperature  23890 non-null  float64
dtypes: float64(1), object(1)
memory usage: 373.4+ KB

In [9]:
def process_and_save_csv(input_folder, output_folder):
    # Create the output folder if it doesn't exist
    os.makedirs(output_folder, exist_ok=True)

    # List all CSV files in the input folder
    csv_files = [file for file in os.listdir(input_folder) if file.endswith('.csv')]

    # Process each CSV file
    for csv_file in csv_files:
        # Construct the full path for input and output files
        input_path = os.path.join(input_folder, csv_file)
        output_path = os.path.join(output_folder, f"Dropped_validated_{csv_file}")

        # Load the CSV file into a DataFrame
        df = pd.read_csv(input_path)
        
        # Drop different columns in each CSV file
        if 'Unnamed: 0' in df.columns:
            df = df.drop(columns=['Unnamed: 0'])

        if 'id' in df.columns:
            df = df.drop(columns=['id'])

        if 'transaction_id' in df.columns:
            df = df.drop(columns=['transaction_id'])
            

        # Save the modified DataFrame to a new CSV file
        df.to_csv(output_path, index=False)

In [10]:
input_folder = 'artifacts/data_ingestion/data'
output_folder = 'artifacts/data_validation/validated_data_after_dropping_columns'

process_and_save_csv(input_folder, output_folder)

In [17]:
df1 = pd.read_csv('artifacts/data_validation/validated_data_after_dropping_columns/Dropped_validated_sales.csv')
df2 = pd.read_csv('artifacts/data_validation/validated_data_after_dropping_columns/Dropped_validated_sensor_stock_levels.csv')
df3 = pd.read_csv('artifacts/data_validation/validated_data_after_dropping_columns/Dropped_validated_sensor_storage_temperature.csv')

In [33]:
def convert_to_datetime(data: pd.DataFrame = None, column: str = None):

    dummy = data.copy()
    dummy[column] = pd.to_datetime(dummy[column], format='%Y-%m-%d %H:%M:%S')
    return dummy

In [34]:
sales_df = convert_to_datetime(df1, 'timestamp')
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7829 entries, 0 to 7828
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      7829 non-null   datetime64[ns]
 1   product_id     7829 non-null   object
 2   category       7829 non-null   object
 3   customer_type  7829 non-null   object
 4   unit_price     7829 non-null   float64
 5   quantity       7829 non-null   int64
 6   total          7829 non-null   float64
 7   payment_type   7829 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 489.4+ KB

In [35]:
stock_df = convert_to_datetime(df2, 'timestamp')
stock_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   timestamp            15000 non-null  datetime64[ns]
 1   product_id           15000 non-null  object
 2   estimated_stock_pct  15000 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 351.7+ KB

In [36]:
temp_df = convert_to_datetime(df3, 'timestamp')
temp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23890 entries, 0 to 23889
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   timestamp    23890 non-null  datetime64[ns]
 1   temperature  23890 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 373.4 KB

In [37]:
from datetime import datetime

def convert_timestamp_to_hourly(data: pd.DataFrame = None, column: str = None):
    dummy = data.copy()
    new_ts = dummy[column].tolist()
    new_ts = [i.strftime('%Y-%m-%d %H:00:00') for i in new_ts]
    new_ts = [datetime.strptime(i, '%Y-%m-%d %H:00:00') for i in new_ts]
    dummy[column] = new_ts
    return dummy

In [38]:
sales = convert_timestamp_to_hourly(sales_df, 'timestamp')
sales.head()

,timestamp,product_id,category,customer_type,unit_price,quantity,total,payment_type
0,2022-03-02 09:00:00,3bc6c1ea-0198-46de-9ffd-514ae3338713,fruit,gold,3.99,2,7.98,e-wallet
1,2022-03-06 10:00:00,ad81b46c-bf38-41cf-9b54-5fe7f5eba93e,fruit,standard,3.99,1,3.99,e-wallet
2,2022-03-04 17:00:00,7c55cbd4-f306-4c04-a030-628cbe7867c1,fruit,premium,0.19,2,0.38,e-wallet
3,2022-03-02 17:00:00,80da8348-1707-403f-8be7-9e6deeccc883,fruit,gold,0.19,4,0.76,e-wallet
4,2022-03-05 14:00:00,7f5e86e6-f06f-45f6-bf44-27b095c9ad1d,fruit,basic,4.49,2,8.98,debit card

In [41]:
sales_agg = sales.groupby(['timestamp', 'product_id']).agg({'quantity': 'sum'}).reset_index()
sales_agg.head()

            timestamp                            product_id  quantity
0 2022-03-01 09:00:00  00e120bb-89d6-4df5-bc48-a051148e3d03         3
1 2022-03-01 09:00:00  01f3cdd9-8e9e-4dff-9b5c-69698a0388d0         3
2 2022-03-01 09:00:00  03a2557a-aa12-4add-a6d4-77dc36342067         3
3 2022-03-01 09:00:00  049b2171-0eeb-4a3e-bf98-0c290c7821da         7
4 2022-03-01 09:00:00  04da844d-8dba-4470-9119-e534d52a03a0        11

In [42]:
len(sales_agg)

6217

In [43]:
stock = convert_timestamp_to_hourly(stock_df, 'timestamp')
stock.head()

,timestamp,product_id,estimated_stock_pct
0,2022-03-07 12:00:00,f658605e-75f3-4fed-a655-c0903f344427,0.75
1,2022-03-07 16:00:00,de06083a-f5c0-451d-b2f4-9ab88b52609d,0.48
2,2022-03-01 18:00:00,ce8f3a04-d1a4-43b1-a7c2-fa1b8e7674c8,0.58
3,2022-03-02 14:00:00,c21e3ba9-92a3-4745-92c2-6faef73223f7,0.79
4,2022-03-02 13:00:00,7f478817-aa5b-44e9-9059-8045228c9eb0,0.22

In [44]:
stock_agg = stock.groupby(['timestamp', 'product_id']).agg({'estimated_stock_pct': 'mean'}).reset_index()
stock_agg.head()

,timestamp,product_id,estimated_stock_pct
0,2022-03-01 09:00:00,00e120bb-89d6-4df5-bc48-a051148e3d03,0.89
1,2022-03-01 09:00:00,01f3cdd9-8e9e-4dff-9b5c-69698a0388d0,0.14
2,2022-03-01 09:00:00,01ff0803-ae73-4234-971d-5713c97b7f4b,0.67
3,2022-03-01 09:00:00,0363eb21-8c74-47e1-a216-c37e565e5ceb,0.82
4,2022-03-01 09:00:00,03f0b20e-3b5b-444f-bc39-cdfa2523d4bc,0.05

In [45]:
len(stock_agg)

10845

In [46]:
temp = convert_timestamp_to_hourly(temp_df, 'timestamp')
temp.head()

            timestamp  temperature
0 2022-03-07 15:00:00         2.96
1 2022-03-01 09:00:00         1.88
2 2022-03-04 15:00:00         1.78
3 2022-03-02 12:00:00         2.18
4 2022-03-05 09:00:00         1.38

In [47]:
temp_agg = temp.groupby(['timestamp']).agg({'temperature': 'mean'}).reset_index()
temp_agg.head()

            timestamp  temperature
0 2022-03-01 09:00:00    -0.028850
1 2022-03-01 10:00:00     1.284314
2 2022-03-01 11:00:00    -0.560000
3 2022-03-01 12:00:00    -0.537721
4 2022-03-01 13:00:00    -0.188734

In [48]:
len(temp_agg)

77

In [49]:
merged_df = stock_agg.merge(sales_agg, on=['timestamp', 'product_id'], how='left')
merged_df.head()

,timestamp,product_id,estimated_stock_pct,quantity
0,2022-03-01 09:00:00,00e120bb-89d6-4df5-bc48-a051148e3d03,0.89,3.0
1,2022-03-01 09:00:00,01f3cdd9-8e9e-4dff-9b5c-69698a0388d0,0.14,3.0
2,2022-03-01 09:00:00,01ff0803-ae73-4234-971d-5713c97b7f4b,0.67,NaN
3,2022-03-01 09:00:00,0363eb21-8c74-47e1-a216-c37e565e5ceb,0.82,NaN
4,2022-03-01 09:00:00,03f0b20e-3b5b-444f-bc39-cdfa2523d4bc,0.05,NaN

In [50]:
merged_df = merged_df.merge(temp_agg, on='timestamp', how='left')
merged_df.head()

,timestamp,product_id,estimated_stock_pct,quantity,temperature
0,2022-03-01 09:00:00,00e120bb-89d6-4df5-bc48-a051148e3d03,0.89,3.0,-0.02885
1,2022-03-01 09:00:00,01f3cdd9-8e9e-4dff-9b5c-69698a0388d0,0.14,3.0,-0.02885
2,2022-03-01 09:00:00,01ff0803-ae73-4234-971d-5713c97b7f4b,0.67,NaN,-0.02885
3,2022-03-01 09:00:00,0363eb21-8c74-47e1-a216-c37e565e5ceb,0.82,NaN,-0.02885
4,2022-03-01 09:00:00,03f0b20e-3b5b-444f-bc39-cdfa2523d4bc,0.05,NaN,-0.02885

In [51]:
merged_df['quantity'] = merged_df['quantity'].fillna(0)
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10845 entries, 0 to 10844
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   timestamp            10845 non-null  datetime64[ns]
 1   product_id           10845 non-null  object
 2   estimated_stock_pct  10845 non-null  float64
 3   quantity             10845 non-null  float64
 4   temperature          10845 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 423.8+ KB

In [53]:
product_categories = sales_df[['product_id', 'category']]
product_categories = product_categories.drop_duplicates()

product_price = sales_df[['product_id', 'unit_price']]
product_price = product_price.drop_duplicates()

In [54]:
merged_df = merged_df.merge(product_categories, on="product_id", how="left")
merged_df.head()

,timestamp,product_id,estimated_stock_pct,quantity,temperature,category
0,2022-03-01 09:00:00,00e120bb-89d6-4df5-bc48-a051148e3d03,0.89,3.0,-0.02885,kitchen
1,2022-03-01 09:00:00,01f3cdd9-8e9e-4dff-9b5c-69698a0388d0,0.14,3.0,-0.02885,vegetables
2,2022-03-01 09:00:00,01ff0803-ae73-4234-971d-5713c97b7f4b,0.67,0.0,-0.02885,baby products
3,2022-03-01 09:00:00,0363eb21-8c74-47e1-a216-c37e565e5ceb,0.82,0.0,-0.02885,beverages
4,2022-03-01 09:00:00,03f0b20e-3b5b-444f-bc39-cdfa2523d4bc,0.05,0.0,-0.02885,pets

In [55]:
merged_df = merged_df.merge(product_price, on="product_id", how="left")
merged_df.head()

,timestamp,product_id,estimated_stock_pct,quantity,temperature,category,unit_price
0,2022-03-01 09:00:00,00e120bb-89d6-4df5-bc48-a051148e3d03,0.89,3.0,-0.02885,kitchen,11.19
1,2022-03-01 09:00:00,01f3cdd9-8e9e-4dff-9b5c-69698a0388d0,0.14,3.0,-0.02885,vegetables,1.49
2,2022-03-01 09:00:00,01ff0803-ae73-4234-971d-5713c97b7f4b,0.67,0.0,-0.02885,baby products,14.19
3,2022-03-01 09:00:00,0363eb21-8c74-47e1-a216-c37e565e5ceb,0.82,0.0,-0.02885,beverages,20.19
4,2022-03-01 09:00:00,03f0b20e-3b5b-444f-bc39-cdfa2523d4bc,0.05,0.0,-0.02885,pets,8.19

In [56]:
merged_df['timestamp_day_of_month'] = merged_df['timestamp'].dt.day
merged_df['timestamp_day_of_week'] = merged_df['timestamp'].dt.dayofweek
merged_df['timestamp_hour'] = merged_df['timestamp'].dt.hour
merged_df.drop(columns=['timestamp'], inplace=True)
merged_df.head()

,product_id,estimated_stock_pct,quantity,temperature,category,unit_price,timestamp_day_of_month,timestamp_day_of_week,timestamp_hour
0,00e120bb-89d6-4df5-bc48-a051148e3d03,0.89,3.0,-0.02885,kitchen,11.19,1,1,9
1,01f3cdd9-8e9e-4dff-9b5c-69698a0388d0,0.14,3.0,-0.02885,vegetables,1.49,1,1,9
2,01ff0803-ae73-4234-971d-5713c97b7f4b,0.67,0.0,-0.02885,baby products,14.19,1,1,9
3,0363eb21-8c74-47e1-a216-c37e565e5ceb,0.82,0.0,-0.02885,beverages,20.19,1,1,9
4,03f0b20e-3b5b-444f-bc39-cdfa2523d4bc,0.05,0.0,-0.02885,pets,8.19,1,1,9

In [57]:
merged_df.drop(columns=['product_id'], inplace=True)
merged_df.head()

,estimated_stock_pct,quantity,temperature,category,unit_price,timestamp_day_of_month,timestamp_day_of_week,timestamp_hour
0,0.89,3.0,-0.02885,kitchen,11.19,1,1,9
1,0.14,3.0,-0.02885,vegetables,1.49,1,1,9
2,0.67,0.0,-0.02885,baby products,14.19,1,1,9
3,0.82,0.0,-0.02885,beverages,20.19,1,1,9
4,0.05,0.0,-0.02885,pets,8.19,1,1,9

In [58]:
merged_df.isnull().sum()

estimated_stock_pct       0
quantity                  0
temperature               0
category                  0
unit_price                0
timestamp_day_of_month    0
timestamp_day_of_week     0
timestamp_hour            0
dtype: int64

In [59]:
import os
import pandas as pd
from datetime import datetime



def convert_to_datetime(data: pd.DataFrame = None, column: str = None):

    dummy = data.copy()
    dummy[column] = pd.to_datetime(dummy[column], format='%Y-%m-%d %H:%M:%S')
    return dummy


def convert_timestamp_to_hourly(data: pd.DataFrame = None, column: str = None):
    dummy = data.copy()
    new_ts = dummy[column].tolist()
    new_ts = [i.strftime('%Y-%m-%d %H:00:00') for i in new_ts]
    new_ts = [datetime.strptime(i, '%Y-%m-%d %H:00:00') for i in new_ts]
    dummy[column] = new_ts
    return dummy


def merge_and_save(input_file1, input_file2, input_file3, output_directory):
    # Read input files into dataframes
    df1 = pd.read_csv(input_file1)
    df2 = pd.read_csv(input_file2)
    df3 = pd.read_csv(input_file3)

    sales_df = convert_to_datetime(df1, 'timestamp')
    stock_df = convert_to_datetime(df2, 'timestamp')
    temp_df = convert_to_datetime(df3, 'timestamp')

    sales = convert_timestamp_to_hourly(sales_df, 'timestamp')
    sales_agg = sales.groupby(['timestamp', 'product_id']).agg({'quantity': 'sum'}).reset_index()

    stock = convert_timestamp_to_hourly(stock_df, 'timestamp')
    stock_agg = stock.groupby(['timestamp', 'product_id']).agg({'estimated_stock_pct': 'mean'}).reset_index()

    temp = convert_timestamp_to_hourly(temp_df, 'timestamp')
    temp_agg = temp.groupby(['timestamp']).agg({'temperature': 'mean'}).reset_index()

    merged_df = stock_agg.merge(sales_agg, on=['timestamp', 'product_id'], how='left')
    merged_df = merged_df.merge(temp_agg, on='timestamp', how='left')

    merged_df['quantity'] = merged_df['quantity'].fillna(0)

    product_categories = sales_df[['product_id', 'category']]
    product_categories = product_categories.drop_duplicates()

    product_price = sales_df[['product_id', 'unit_price']]
    product_price = product_price.drop_duplicates()

    merged_df = merged_df.merge(product_categories, on="product_id", how="left")
    merged_df = merged_df.merge(product_price, on="product_id", how="left")

    merged_df['timestamp_day_of_month'] = merged_df['timestamp'].dt.day
    merged_df['timestamp_day_of_week'] = merged_df['timestamp'].dt.dayofweek
    merged_df['timestamp_hour'] = merged_df['timestamp'].dt.hour
    merged_df.drop(columns=['timestamp','product_id'], inplace=True)



    # Create the output directory if it doesn't exist
    os.makedirs(output_directory, exist_ok=True)

    # Define the output file path
    output_file_path = os.path.join(output_directory, 'merged_output.csv')

    # Save the merged dataframe to the specified directory
    merged_df.to_csv(output_file_path, index=False)

    print(f'Merged dataframe saved to: {output_file_path}')

# Example usage:
merge_and_save('artifacts/data_validation/validated_data_after_dropping_columns/Dropped_validated_sales.csv', 
               'artifacts/data_validation/validated_data_after_dropping_columns/Dropped_validated_sensor_stock_levels.csv', 
               'artifacts/data_validation/validated_data_after_dropping_columns/Dropped_validated_sensor_storage_temperature.csv', 
               'artifacts/data_validation/validated_data_after_dropping_columns')

Merged dataframe saved to: artifacts/data_validation/validated_data_after_dropping_columns\merged_output.csv

In [60]:
df_dtypes = pd.read_csv('artifacts/data_validation/validated_data_after_dropping_columns/merged_output.csv')

In [61]:
df_dtypes.dtypes

estimated_stock_pct       float64
quantity                  float64
temperature               float64
category                   object
unit_price                float64
timestamp_day_of_month      int64
timestamp_day_of_week       int64
timestamp_hour              int64
dtype: object

In [4]:
%pwd

'd:\\Inventory-Management-and-Predictive-Analytics-with-IOT\\research'

In [6]:
import os
os.chdir("../")

In [7]:
%pwd

'd:\\Inventory-Management-and-Predictive-Analytics-with-IOT'

In [8]:
from dataclasses import dataclass
from pathlib import Path


@dataclass(frozen=True)
class DataValidationConfig:
    root_dir: Path
    STATUS_FILE: str
    all_schema: dict
    input_folder : Path
    output_folder : Path
    input_file1 : Path
    input_file2 : Path
    input_file3 : Path
    output_directory : Path
    merged_output: Path

In [10]:
from src.mlProject.constants import *
from src.mlProject.utils.common import read_yaml, create_directories,convert_to_datetime,convert_timestamp_to_hourly

In [12]:
class ConfigurationManager:
    def __init__(
        self,
        config_filepath = CONFIG_FILE_PATH,
        params_filepath = PARAMS_FILE_PATH,
        schema_filepath = SCHEMA_FILE_PATH):

        self.config = read_yaml(config_filepath)
        self.params = read_yaml(params_filepath)
        self.schema = read_yaml(schema_filepath)

        create_directories([self.config.artifacts_root])

    
    def get_data_validation_config(self) -> DataValidationConfig:
        config = self.config.data_validation
        schema = self.schema.COLUMNS

        create_directories([config.root_dir])

        data_validation_config = DataValidationConfig(
            root_dir=config.root_dir,
            input_folder = config.input_folder,
            output_folder = config.output_folder,
            input_file1 = config.input_file1,
            input_file2 = config.input_file2,
            input_file3 = config.input_file3,
            output_directory = config.output_directory,
            merged_output = config.merged_output,
            STATUS_FILE = config.STATUS_FILE,
            all_schema=schema
            )

        return data_validation_config

In [15]:
import os
from mlProject import logger
import pandas as pd

In [16]:
class DataValiadtion:
    def __init__(self, config: DataValidationConfig):
        self.config = config

    def process_and_save_csv(self):

        try:

            # Create the output folder if it doesn't exist
            os.makedirs(self.config.output_folder, exist_ok=True)

            # List all CSV files in the input folder
            csv_files = [file for file in os.listdir(self.config.input_folder) if file.endswith('.csv')]

            # Process each CSV file
            for csv_file in csv_files:
                # Construct the full path for input and output files
                input_path = os.path.join(self.config.input_folder, csv_file)
                output_path = os.path.join(self.config.output_folder, f"Dropped_validated_{csv_file}")

                # Load the CSV file into a DataFrame
                df = pd.read_csv(input_path)
                
                # Drop different columns in each CSV file
                if 'Unnamed: 0' in df.columns:
                    df = df.drop(columns=['Unnamed: 0'])

                if 'id' in df.columns:
                    df = df.drop(columns=['id'])

                if 'transaction_id' in df.columns:
                    df = df.drop(columns=['transaction_id'])

            # Save the modified DataFrame to a new CSV file
            df.to_csv(output_path, index=False)
        
        except Exception as e:
            raise e
        


    def merge_and_save(self):
        try:
            # Read input files into dataframes
            df1 = pd.read_csv(self.config.input_file1)
            df2 = pd.read_csv(self.config.input_file2)
            df3 = pd.read_csv(self.config.input_file3)

            sales_df = convert_to_datetime(df1, 'timestamp')
            stock_df = convert_to_datetime(df2, 'timestamp')
            temp_df = convert_to_datetime(df3, 'timestamp')

            sales = convert_timestamp_to_hourly(sales_df, 'timestamp')
            sales_agg = sales.groupby(['timestamp', 'product_id']).agg({'quantity': 'sum'}).reset_index()

            stock = convert_timestamp_to_hourly(stock_df, 'timestamp')
            stock_agg = stock.groupby(['timestamp', 'product_id']).agg({'estimated_stock_pct': 'mean'}).reset_index()

            temp = convert_timestamp_to_hourly(temp_df, 'timestamp')
            temp_agg = temp.groupby(['timestamp']).agg({'temperature': 'mean'}).reset_index()

            merged_df = stock_agg.merge(sales_agg, on=['timestamp', 'product_id'], how='left')
            merged_df = merged_df.merge(temp_agg, on='timestamp', how='left')

            merged_df['quantity'] = merged_df['quantity'].fillna(0)

            product_categories = sales_df[['product_id', 'category']]
            product_categories = product_categories.drop_duplicates()

            product_price = sales_df[['product_id', 'unit_price']]
            product_price = product_price.drop_duplicates()

            merged_df = merged_df.merge(product_categories, on="product_id", how="left")
            merged_df = merged_df.merge(product_price, on="product_id", how="left")

            merged_df['timestamp_day_of_month'] = merged_df['timestamp'].dt.day
            merged_df['timestamp_day_of_week'] = merged_df['timestamp'].dt.dayofweek
            merged_df['timestamp_hour'] = merged_df['timestamp'].dt.hour
            merged_df.drop(columns=['timestamp','product_id'], inplace=True)


            # Create the output directory if it doesn't exist
            os.makedirs(self.config.output_directory, exist_ok=True)

            # Define the output file path
            output_file_path = os.path.join(self.config.output_directory, 'merged_output.csv')

            # Save the merged dataframe to the specified directory
            merged_df.to_csv(output_file_path, index=False)

        except Exception as e:
            raise e



    def validate_all_columns(self)-> bool:
        try:
            validation_status = None

            data = pd.read_csv(self.config.merged_output)
            all_cols = list(data.columns)

            all_schema = self.config.all_schema.keys()

            
            for col in all_cols:
                if col not in all_schema:
                    validation_status = False
                    with open(self.config.STATUS_FILE, 'w') as f:
                        f.write(f"Validation status: {validation_status}")
                else:
                    validation_status = True
                    with open(self.config.STATUS_FILE, 'w') as f:
                        f.write(f"Validation status: {validation_status}")

            return validation_status
        
        except Exception as e:
            raise e

In [17]:
try:
    config = ConfigurationManager()
    data_validation_config = config.get_data_validation_config()
    data_validation = DataValiadtion(config=data_validation_config)
    data_validation.process_and_save_csv()
    data_validation.merge_and_save()
    data_validation.validate_all_columns()
    
except Exception as e:
    raise e

[2023-11-20 19:12:38,966: INFO: common: yaml file: config\config.yaml loaded successfully]
[2023-11-20 19:12:38,968: INFO: common: yaml file: params.yaml loaded successfully]
[2023-11-20 19:12:38,972: INFO: common: yaml file: schema.yaml loaded successfully]
[2023-11-20 19:12:38,979: INFO: common: created directory at: artifacts]
[2023-11-20 19:12:38,981: INFO: common: created directory at: artifacts/data_validation]